<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>TRANG CHỦ - Shark-Eyes</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/logo/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/logo/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/logo/favicon-16x16.png">
        <link rel="manifest" href="/static/logo/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="icon" type="image/x-icon" href="/static/logo/favicon.ico">

    </head>

    <body>
        <!-- Spinner Start -->
        <div id="spinner" class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <!-- Topbar Start -->
        <div class="container-fluid bg-dark py-2 d-none d-md-flex">
            <div class="container">
                <div class="d-flex justify-content-between topbar">
                    <div class="top-info">
                        <small class="me-3 text-white-50"><a href="#"><i class="fas fa-map-marker-alt me-2 text-secondary"></i></a>Ho Chi Minh City, Viet Nam</small>
                        <small class="me-3 text-white-50"><a href="#"><i class="fas fa-envelope me-2 text-secondary"></i></a>buitanhaidang@gmail.com</small>
                    </div>
                    <div id="note" class="text-secondary d-none d-xl-flex"><small>Note: Hãy luôn cảnh giác trên không gian mạng</small></div>
                    <div class="top-link">
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-facebook-f text-primary"></i></a>
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-twitter text-primary"></i></a>
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-instagram text-primary"></i></a>
                        <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->

        <!-- Navbar Start -->
        <div class="container-fluid bg-primary">
            <div class="container">
                <nav class="navbar navbar-dark navbar-expand-lg py-0">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="text-white fw-bold d-block">Shark<span class="text-secondary">Eyes</span> </h1>
                    </a>
                    <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
                        <div class="navbar-nav ms-auto mx-xl-auto p-0">
                            <a href="index.html" class="nav-item nav-link active text-secondary">Trang chủ</a>
                            <a href="about.html" class="nav-item nav-link">Giới thiệu</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tính năng</a>
                                <div class="dropdown-menu rounded">
                                    <a href="service.html" class="dropdown-item">Nhận diện Lừa đảo mạng</a>
                                    <a href="report.html" class="dropdown-item">Gửi báo cáo</a>
                                    <a href="thongke.html" class="dropdown-item">Thống kê</a>
                                    <a href="blacklist.html" class="dropdown-item">Danh sách Phishing website</a>
                                </div>
                            </div>
                            <a href="project.html" class="nav-item nav-link">Tin tức</a>
                            <a href="install.html" class="nav-item nav-link">Tải về tiện ích</a>

                        </div>
                    </div>
                    <div class="d-none d-xl-flex flex-shirink-0">
                        <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                            <a href="" class="position-relative animated tada infinite">
                                <i class="fa fa-phone-alt text-white fa-2x"></i>
                                <div class="position-absolute" style="top: -7px; left: 20px;">
                                    <span><i class="fa fa-comment-dots text-secondary"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex flex-column pe-4 border-end">
                            <span class="text-white-50">Have any questions?</span>
                            <span class="text-secondary">Call: + 088 933 7917</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center ms-4 ">
                            <a href="#"><i class="bi bi-search text-white fa-2x"></i> </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->
        
        <!-- Fact Start -->
        <div class="container-fluid bg-secondary py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
                        <div class="d-flex counter">
                            <h1 class="me-3 text-primary counter-value">256</h1>
                            <h5 class="text-white mt-1">Số trang web lừa đảo</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
                        <div class="d-flex counter">
                            <h1 class="me-3 text-primary counter-value">57</h1>
                            <h5 class="text-white mt-1">Số lượng trang web lừa đảo trong tháng này</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
                        <div class="d-flex counter">
                            <h1 class="me-3 text-primary counter-value">199</h1>
                            <h5 class="text-white mt-1">Số lượng trang web lừa đảo trong năm này</h5>
                        </div>
                    </div>
                    <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
                        <div class="d-flex counter">
                            <h1 class="me-3 text-primary counter-value">29</h1>
                            <h5 class="text-white mt-1">Số lượng thương hiệu nổi tiếng bị giả mạo</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fact End -->

        <!-- Table Start -->
        <div class="text-center mx-auto pb-5 pt-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h2 class="mb-3">Top đối tượng bị giả mạo nhiều nhất</h2>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Số lượng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Shopee</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Facebook</td>
                    <td>7</td>
                  </tr> <tr>
                    <th scope="row">3</th>
                    <td>Lazada</td>
                    <td>5</td>
                  </tr> <tr>
                    <th scope="row">4</th>
                    <td>Samsung</td>
                    <td>4</td>
                  </tr> <tr>
                    <th scope="row">5</th>
                    <td>GOV-Tổ chức nhà nước</td>
                    <td>3</td>
                  </tr>
                </tbody>
              </table>
        </div>
        

        <!-- Table End -->

        <!-- About End -->
        <div class="container-fluid py-5 my-5">
            <div class="container pt-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="/static/img/img1.png" class="img-fluid w-120 rounded" alt="" style="margin-bottom: 25%;">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                        <h1 class="mb-4">Thống kê số lượng trang web lừa đảo</h1>
                        <p>Sau quá trình phân tích và thống kê, nhóm chúng tôi nhận thấy một kết luận đáng chú ý: tỉ lệ trang web lừa đảo do người Việt host chiếm đến 60.4%, vượt lên trên tỉ lệ của những hacker nước ngoài. </p>
                        <p class="mb-4">Điều này là một tình tiến đáng lo ngại, làm tăng nguy cơ an ninh mạng nội địa và đặt ra thách thức mới trong việc bảo vệ môi trường trực tuyến của chúng ta. </p>
                        <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>
                    </div>
                </div>

                <div class="row g-5">
                    <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                        <div class="h-100 position-relative">
                            <img src="/static/img/img2.png" class="img-fluid w-120 rounded" alt="" style="margin-bottom: 25%;">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                        <h1 class="mb-4">Thống kê mục đích lừa đảo của các tội phạm mạng</h1>
                        <p>Sau quá trình phân tích và xử lí, nhóm của chúng tôi đã nhận diện ra bốn mục tiêu chủ yếu mà các tội phạm mạng thường nhắm đến khi thực hiện các cuộc tấn công lừa đảo đối với người dùng. Các mục tiêu này bao gồm: lừa đảo tài chính, thu thập thông tin cá nhân, phát tán mã độc và phổ biến thông tin giả mạo.</p>   
                        <p class="mb-4">Đặc biệt, chúng tôi đã nhận thấy rằng mục tiêu phổ biến nhất là phát tán thông tin giả mạo, chiếm đến 30%, trong khi thu nhập trái phép thông tin cá nhân người dùng cũng đáng chú ý với tỷ lệ 22.4%. Đây là những số liệu mà chúng tôi tin rằng sẽ giúp hiểu rõ hơn về các động cơ và xu hướng của tội phạm mạng hiện nay.</p>
                        <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Contact Start -->
        <div class="container-fluid py-5 mb-5">
            <div class="container">
                <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                    <h1 class="mb-3">Thống kê tỉ lệ bị lừa đảo mạng tại các tỉnh và thành phố</h1>
                    <p class="mb-2">
                        Dựa trên dữ liệu thống kê, có thể thấy rằng tỉ lệ các vụ lừa đảo mạng tại các tỉnh như Sóc Trăng, Lào Cai, Hải Dương, Long An và Sơn La đang chiếm đa số. Đây là tín hiệu đáng chú ý, đặc biệt là khi các địa điểm này đang đối mặt với tỉ lệ cao nhất về vấn đề này. Chính vì vậy, chúng tôi đề xuất rằng chính phủ cần tập trung nâng cao nhận thức an toàn thông tin trên không gian mạng tại những địa điểm này.</p>
                    <p>Để đối mặt với thách thức này, việc tuyên truyền và nâng cao cảnh giác của người dân về tội phạm mạng là quan trọng. Những biện pháp này không chỉ giúp ngăn chặn các vụ mất tài sản tiềm ẩn mà còn góp phần xây dựng một cộng đồng trực tuyến an toàn và ý thức về bảo vệ thông tin cá nhân.</p>
                        <p class="mb-2">Lưu ý: Các số liệu trên chỉ phục vụ mục đích minh họa tính năng thống kê.</p>
                </div>
                <div class="contact-detail position-relative p-5">
                    <div class="row g-5 mb-5 justify-content-center">
                    </div>
                    <div class="row g-5">
                        <img src="/static/img/img3.png" class="img-fluid" alt="...">
                    </div>
                </div>
            </div> 
        </div>
        <!-- Contact End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"><i class="fa fa-arrow-up text-white"></i></a>

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/wow/wow.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/waypoints/waypoints.min.js"></script>
        <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>


        <!-- Template Javascript -->
        <script src="/static/js/main.js"></script>
    </body>

</html>